In [1]:
import pandas as pd
from llama_index.experimental.query_engine import PandasQueryEngine
from llama_index.llms.ollama import Ollama

import logging
import sys

logging.basicConfig(stream=sys.stdout, level=logging.INFO)
logging.getLogger().addHandler(logging.StreamHandler(stream=sys.stdout))

In [2]:
qe = PandasQueryEngine(
    df=pd.read_csv("employees.csv"), 
    llm = Ollama(model="llama3", request_timeout=30.0), 
    verbose=False
)

In [3]:
print(qe.query("Show me all the data?"))

          Level  Performance Score   Hire Date     Salary
0     Principal                  3  2009-04-18  219192.00
1     Principal                  3  2021-02-07  218327.49
2     Principal                  3  2023-12-15  232113.37
3     Principal                  4  2021-11-12  223042.58
4     Principal                  3  2024-04-07  210656.24
...         ...                ...         ...        ...
1995         E1                  3  2023-03-17  110007.24
1996         E1                  4  2022-10-09  116988.38
1997         E1                  3  2023-07-17  114426.03
1998         E1                  1  2023-12-14   98655.33
1999         E1                  5  2024-01-11  116411.05

[2000 rows x 4 columns]

In [4]:
print(qe.query("Show me the highest salary."))

250000.0